*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #e2dfdf;
    color: #333;
    font-family: "Khmer", sans-serif;;
}

.img-size{
    width: 70px;
    height: 70px;
}

.img-size-two{
    width: 330px;
    height: 190px;
    margin-left: 17.9cm;
    margin-bottom: 14px;
}

.container{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.logo{
    display: flex;
    font-size: 22px;
    align-items: center;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-right{
    font-family: "Viga", sans-serif;
}
.nav-right{
    display: flex;
    font-size: 21px;
    align-items: center;
}

.container .navbar{
    padding: 7px 55px;
    background-image: url('new1.webp');
    box-sizing: border-box;
    border: 3px solid #333;
    background-size: 1930px;
}


.container-menu{
    width: 100%;
}

.navbar-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.menu .nav-left{
    display: flex;
    align-items: center;
}


.menu-right{
    display: flex;
    align-items: center;
}

.navbar-menu .menu .nav-left{
    list-style-type: none;
    margin-left: -2vh;
    
}

.navbar-menu .menu .nav-left li a{
    text-decoration: none;
    padding: 10px 28px;
    font-size: 21px;
    font-weight: bolder;
}

.navbar-menu .menu-right .user{
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
    background-color: mediumseagreen;
    padding: .3rem .7rem;
    border-radius: 2rem;
}

.navbar-menu .menu .nav-left li:hover a{
    background-color: rgb(0, 0, 0);
    color: mediumseagreen;
    transition: 400ms;
}

.navbar-menu .menu .nav-left li a.active{
    background-color: rgb(0, 0, 0);
    color: mediumseagreen;
    
}

.container-menu .navbar-menu .menu-right .search-box{
    display: flex;
    border: none;
}

.container-menu .navbar-menu .menu-right .search-box input{
    width: 80%;
    border: none;
    outline: none;
    border: none;
    border-radius: 2rem;
    width: 250px;
}

.container-menu .navbar-menu .menu-right .search-box i{
    width: 20%;
    text-align: center;
    padding: 8px 0;
    background-color: non;
}

.container-menu .navbar-menu{
    padding: 10px 60px;
    text-align: center;
    
}

.navbar-menu{
    background-color: rgb(182, 182, 192) ;
    
}

body-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67vh;
    background-image: url('New.png');
    padding: 141.5px;
    background-size: 1930px;
    bl
}


.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000;
    box-shadow: 0 0 50px mediumseagreen;
    border-radius: 22px;
    padding: 40px;
    backdrop-filter: filter(20px);
}

.wrapper:hover{
    animation: animate 1s linear infinite;
}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

.wrapper-two{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000;
    border-radius: 22px;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    
}
.wrapper .active .form-wrapper .sigUp-link{
    transform: translateY(-450px);
}

h2{
    font-size: 30px;
    color: #ffffff;
    text-align: center;

}

.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    color: #fff;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .4s;
}

.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -5px;
}

.remember{
    margin: -5px 0 15px 5px;
}

.remember label{
    color: #fff;
    font-size: 14px;
}

.remember label input{
    accent-color: rgb(22, 160, 4);
    cursor: pointer;
    transition: 5s;
}

button{
    position: relative;
    width: 100%;
    height: 40px;
    background: mediumseagreen;
    box-shadow: 0 0 10px mediumseagreen;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.sigUp-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.sigUp-link p{
    color: #fff;
}
.sigUp-link p a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

.sigUp-link p a:hover{
    text-decoration: underline;

}

.sigUp-link .SigUpBtn-link{
    color: mediumseagreen;
}

.sigUp-link .SigUpBtn-link:hover{
    color: gold;
}

.sigUp-link .SigInBtn-link:hover{
    color: gold;
}

.container-menu .navbar-menu .nav-left li .active-bar{
    background-color: #333;
    color: mediumseagreen;
    
}

.Comming{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:  50px;
    padding: 9cm;
}

.welcom-head-page{
    text-align: center;
    font-size: 26px;
    padding: 6vh;
    cursor: pointer;
    color: gold;
}

.HeadTage{
    display: flex;
    align-items: center;
    padding-left: 9vh;
    padding-top: 2ch;
    background-image: url('New.png');
    
}

.img-size-body{
    width: 2.5cm;
    height: 5cm;

}

.Note-center{
    padding: 1vh;
}

.Note{
    text-align: center;
    font-size: 23px;
    padding: 5vh;
    padding: 5px;
    margin: 0;
    width: 17%;
    height: 50%;
    border-radius: 2rem;
    margin-left: 43%;
    border: 1.5px solid blue;
    box-shadow: chartreuse;
}

.Note:hover{
    animation: animate 1s linear infinite;
}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

.Note:hover{
    background-color: forestgreen;
    cursor: pointer;
    color: gold;
    background-color: #000;
}

.writting{
    font-size: 20px;
    text-align: center;
    padding: 2vh;
}

.Contact-us #txt{
    display: flex;
    justify-content: center;
    padding: 3vh;
    padding: 3vh 13vh;
}

.Contact-us h3{
    color: rgb(50, 0, 233);
    text-align: center;
    padding: .8vh;
    font-size: 19px;
    border: 1px solid #000;
    padding: 7px;
    width: 14%;
    height: 50%;
    border-radius: 2rem;
    margin-left: 43%;
}

.contact{
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.headering{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0vh;
    width: 4;
    background-color: #464646;
    padding: 5vh;
}

.character{
    width: 10%;
    height: 50%;
    text-align: center;
    margin-left: 45%;
    padding: 4px;
    border-radius: 1rem;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(40, 182, 40);
    
}
.charater-tittle{
    width: 4%;
    height: 40%;
    border: 1px solid #000;
    border-radius: 1rem
    
}

.shop-content .product-box{
    
}

.shop-content .buy-box .buy-buy{
    display: flex;
    align-items: center;
}


.shop-content #buy-new:hover{
    background-color: #000000;
    color: limegreen;
    transition: 400ms;

}

.shop-content .product-box #pic{
    width: 150px;
}

.box-payment .h2{
    color: blue;
    font-size: 24px;
    padding: 8px;
    background-color: rgb(81, 231, 68);
    border-radius: 2rem;
}
.heading .box-payment{
    padding: 2.5vh
}

.box-payment .product-box #pic-1{
    border-radius: 2rem;
    border: .2rem solid #000000 ;

}

.box-payment .product-box #pic-1{
    width: 220px;
    padding: 2vh;

}
.box-payment .product-box{
    padding: 3vh;
}

.product-box{
    border: 2px solid #000 none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.shop-content{
    display: flex;
    justify-content: space-between;
    padding: 5vh 3vh;
}
.shop-container .buy-box .price{
    font-size: 25px;
    color: #fde510;
    font-family: "Oswald", sans-serif;
} 

#buy-new{
    padding: 0 5.7vh;
}

.box-payment  #qr-code{
    inline-size: 250px;
}

.box-payment .qr-code{
    align-items: center;
    text-align: center;
}

.Payment{
    text-align: center;
    width: 30%;
    height: 50%;
    border-radius: 2rem;
    margin-left: 35%;
}

.shop-content .product-box #id-charater h3{
    font-size: 21px;
    color: #fde510;
    
}
